- title 'Home'

.container-fluid
  .row
    - @things.each_with_index do |thing, i|
      .col-lg-3.col-md-4.col-sm-6
        .panel.panel-default
          .panel-heading
            .pull-right
              - if thing.available?
                .label.label-success Available
              - else
                .label.label-danger Checked Out

            = link_to thing.name, thing_path(thing)

          - if thing.quantity > 1
            .panel-body
              Available
              %strong= thing.available_quantity
              (
              Total
              = thing.quantity
              )

          - pending_check_outs = thing.check_outs.pending
          - if pending_check_outs.any?
            %table.table.table-condensed.table-striped
              %thead
                %tr.warning
                  %th{ colspan: 4 }
                    = thing.check_out_quantity
                    Checked Out
              %tbody
                - pending_check_outs.each do |check_out|
                  %tr
                    %td= check_out.quantity
                    %td= check_out.name
                    %td
                      = time_ago_in_words check_out.created_at
                      ago
                    %td.text-right
                      = button_to complete_check_out_path(check_out), method: :post, class: 'btn btn-xs btn-default', title: 'Return Things' do
                        %span.glyphicon.glyphicon-check

          - if thing.available_quantity > 0
            .panel-body
              = form_for CheckOut.new(thing: thing, quantity: 1) do |f|
                = f.hidden_field :thing_id
                = f.text_field :name, placeholder: 'Name', class: 'form-control'
                - if thing.quantity > 1
                  = f.number_field :quantity, placeholder: 'Quantity', class: 'form-control', max: thing.available_quantity, min: 1, step: 1
                - else
                  = f.hidden_field :quantity

                %button.btn.btn-default{ type: 'submit' }
                  %span.glyphicon.glyphicon-share
                  Check Out
      - if i % 4 == 3
        .clearfix.visible-lg-block
      - if i % 3 == 2
        .clearfix.visible-md-block
      - if i % 2 == 1
        .clearfix.visible-sm-block

- content_for :body_title do
  / Nothing here!
