- title 'Home'

.container-fluid

  .all-things-container
    - @things.each do |thing|
      .thing-container
        .panel.panel-default
          .panel-heading
            .pull-right
              - if thing.available?
                .label.label-success Available
              - else
                .label.label-danger Checked Out

            = thing.name

          - if thing.quantity > 1
            .panel-body
              Available
              %strong= thing.available_quantity
              (
              Total
              = thing.quantity
              )

          - if thing.check_outs.any?
            %table.table.table-condensed.table-striped
              %thead
                %tr.info
                  %th{ colspan: 4 }
                    = thing.check_out_quantity
                    Checked Out
              %tbody
                - thing.check_outs.each do |check_out|
                  %tr
                    %td= check_out.quantity
                    %td= check_out.name
                    %td
                      = time_ago_in_words check_out.created_at
                      ago
                    %td.text-right
                      = button_to check_out, method: :delete, class: 'btn btn-xs btn-default', title: 'Return' do
                        %span.glyphicon.glyphicon-check

          - if thing.available_quantity > 0
            .panel-body
              = form_for CheckOut.new(thing: thing, quantity: 1) do |f|
                = f.hidden_field :thing_id
                = f.text_field :name, placeholder: 'Name', class: 'form-control'
                - if thing.quantity > 1
                  = f.number_field :quantity, placeholder: 'Quantity', class: 'form-control', max: thing.available_quantity, min: 1, step: 1
                - else
                  = f.hidden_field :quantity

                %button.btn.btn-default{ type: 'submit' }
                  %span.glyphicon.glyphicon-share
                  Check Out

- content_for :body_title do
  / Nothing here!

- content_for :stylesheets do
  :scss
    .all-things-container {
      -moz-column-width: 18em;
      -webkit-column-width: 18em;
      -moz-column-gap: 1em;
      -webkit-column-gap:1em;
    }

    .thing-container {
      display: inline-block;
      padding: .25rem;
      width: 100%;
    }