!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    = csrf_meta_tags
    %title
      - if content_for?(:title)
        = yield(:title)
        \-
      Check Me Out
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    - if content_for?(:stylesheets)
      = yield(:stylesheets)

    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Check Me Out!', root_path, class: 'navbar-brand'

        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Things', things_path

    - if content_for?(:body_title)
      = yield(:body_title)
    - elsif content_for?(:title)
      .container
        %h1= yield(:title)

    .container
      - flash.each do |type, message|
        - alert_class = case type when 'alert' then 'alert-danger'; when 'notice' then 'alert-info'; end
        .alert{ class: alert_class, role: 'alert' }
          %button.close{ type: 'button', data: { dismiss: 'alert' } } &times;
          = message

    = yield

    %footer
      %hr
      .container
        .text-muted
          %ul.list-inline
            %li= link_to 'Bugs / Suggestions', 'https://github.com/codeintheschools/check_me_out/issues'


    = render partial: 'shared/fork'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    - if content_for?(:javascripts)
      = yield(:javascripts)
